body {
	padding:0;
	margin:0;
	font-family:Arial;
     }

header {
	background:url(666.jpg) fixed no-repeat center top/ cover;
        background-color: rgba(0,0,0,.7);
        background-blend-mode: darken;
        color: white;
        padding-bottom: 2%;
       }


nav { background: rgba(255,255,255,1);
      position: fixed;
      top: 0;
      width: 100%;
    }

nav ul { list-style: none;
         margin: 0;
         padding: 0;
       }

nav a { text-decoration: none;
        outline: none;
        display: block;
        transition: .4s ease-in-out;
      }
.topmenu {
  text-align: center;
  padding: 3px 0;
}
.topmenu > li {
  display: inline-block;
  position: relativ;
}

.topmenu > li > a {
  padding: 12px 26px;
  color: #424141;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Arial', sans-serif;
}
.topmenu li a:hover { color: #f20707; }



/*section___________________________________________________________________*/

.title {
	padding-top: 24px;
}

.title h5 {
	font-size: 400%;
	font-weight: bold;
	text-align: center;
   
        color: white;
        font-family: 'Arial', sans-serif;
        }

.title p {
	font-size: 120px;
	color: #777777;
	text-align: center;
	margin-top: 5px;
}



/*footer________________________________________________________________________*/


footer {
	font-size: 14px;
	padding: 5px;
	text-align:center;
        font-weight: bold;
        font-family: 'Arial', sans-serif;
       }


/*team____________________________________________________________________________*/


  .slide {
        width: 100%;
        height: 570px;
        position: relative;
        margin-top:50px;
    }
	.slide  input {
        display: none;
    }

    .slide  input + label {
        display: inline-block;
        width: 20px;
        height: 10px;
        border-radius: 10px;
        background: rgba(90, 90, 90, 0.8);
        border: 2px solid rgba(190, 190, 190, 0.8);

        cursor: pointer;
         left:47%;
        
        position: relative;
        margin-left: 18px; /*ðàññòîÿíèå ìåæäó òî÷êàìè*/
        top: 90%;    
    }

    .slide  input:checked + label /*ïîäñâåòêà ìåíþ ñëàéäåðà*/
    {
        background: rgba(220, 220, 220, 0.8);
    }

    .slide  div {
        position: absolute;
    }
	
    .slide  div {
        visibility: hidden;   
    }

    img {
        width:700px;
	height:400px;
        margin-left: 125px;
        margin-top:50px;
      }
	
    .slide  input:checked + label + div {
        visibility: visible;
        }
     .slide  input:checked + label1 + div {
        visibility: visible;
    }
    .slide  div  d {
     position: absolute;
     width: 300px;
     height: 260px;
     margin-top: 60px;
     margin-left: 900px;
    } 
   .slide  div  p {
     font-size:20px;
     letter-spacing: 0,5px;
     font-family: 'Century Gothic', sans-serif;
    }
    .slide  div  a {
     font-size:25px;
     text-decoration: underline;
     font-family: 'Century Gothic', sans-serif;
     font-weight: bold;
     color:#FF6347;
    }
    
}
